*.class
*.jar
*.war
*.ear
*.orig
*.iml
*.ipr
*.iws
*.log
.gradle
.metadata
.classpath
.settings
.project
.bin
.idea
.nb-gradle-properties
.DS_Store
build
bin
classes
target
target-eclipse
private
logs
out
_git.gsp
rebel.xml
